body {
  background-color: #FFF5ED;
}

a {
  text-decoration: none;
}

.main__span {
  margin-top: 100px;
  text-align: center;
}

.main__span > span {
  font-family: 'ONE-Mobile-POP';
  font-size: 50px;
}

.main__span > p {
  font-family: 'ONE-Mobile-POP';
  font-size: 30px;
  margin-top: 20px;
}

#menu {
  box-shadow: 2px 2px 0.5px;
  bottom: 5vh;
  font-family: 'ONE-Mobile-POP';
  margin: 10vh auto;
  border: 1px solid black;
  width: 75%;
  height: 100vh;
}

.menu__ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 35px;
  width: 100%;
}

.menu__li {
  width: 16.5%;
}


.menu__btn {
  width: 100%;
  line-height: 35px;
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  background-color: rgb(243, 197, 155);
  border-bottom: 1px solid rgb(243, 197, 155);

}

.menu__content {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* width: 100%; */
  /* margin: 0; */
}

.container:first-child {
  width: 100%;
}

.menu__none {
  visibility: hidden;
  /* display: none; */
}

#menu__img {
  width: 100%;
  height: 200px;
}

#menu__span {
  display: flex;
  flex-direction: column;
}

#menu__span > span {
  font-size: 20px;
}

#menu__img > img {
  width: 170px;
  height: 200px;
  object-fit: scale-down;
}

.footer {
  width: 100vw;
}
